/dts-v1/;

#include "sf16a18_full_mask.dtsi"
#include "sf16a18-thermal.dtsi"


/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "siflower,sf16a18-soc";

	eth0-led {
		compatible = "eth-led";
		pinctrl-names = "default",  "gpio";
		pinctrl-0 = <&eth0_led>;
		pinctrl-1 = <&eth0_led_gpio>;
		eth0 {
			label = "eth_led0";
			gpios = <&gpio 55 1>;
			default-state = "on";
		};
	};

	eth1-led {
		compatible = "eth-led";
		pinctrl-names = "default",  "gpio";
		pinctrl-0 = <&eth1_led>;
		pinctrl-1 = <&eth1_led_gpio>;
		eth1 {
			label = "eth_led1";
			gpios = <&gpio 56 1>;
			default-state = "on";
		};
	};

        eth2-led {
                compatible = "eth-led";
                pinctrl-names = "default",  "gpio";
                pinctrl-0 = <&eth2_led>;
                pinctrl-1 = <&eth2_led_gpio>;
                eth2 {
                        label = "eth_led2";
                        gpios = <&gpio 57 1>;
                        default-state = "on";
                };
        };

};

/* 启用USB PHY */
&usb_phy{
	status = "okay";
};

/* 芯片内置以太网划分 */
&ethernet {
	shutdown-portlist = "wll**";
        led-on-off-time = /bits/ 16 <0xff 0x2ff>;
	status = "okay";
	smp-affinity = <2>;
};

&switch{
	sfax8,port-map = "wll**";
	status = "okay";
	smp-affinity = <2>;
};

&sham {
	status = "okay";
};

&cipher {
	status = "okay";
};

&rng {
	status = "okay";
};

&gdma {
	status = "okay";
};

/* USB接口 */
&usb {
	status = "okay";
};

/* EMMC存储器，DF1A没有 */
&emmc {
	status = "disabled";
};

/* SD1接口，用作TF卡 */
&sdio {
	status = "okay";
};

/* IIS1=31 32 (RS485冲突)   33 34 35(PG3组的GPIO冲突)，关闭 */
&i2s_master {
	status = "disabled";
};

/* IIS0=26 27 28 29 30，PG2组，保留IIS0功能 */
&i2s_slave {
	status = "okay";
};

/* This is used to set voltage during dvfs.
 * You should first know which pmu is in use, and
 * remove the default core-voltage set in pmu dts.
 */
/*
&cpu0 {
       cpu0-supply = <&rn5t567_core>;
       dcdc0-maxv = <1000000>;
};
*/


/* I2C0=20 21 启用PG1 */
&i2c0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
/*	/include/	"sf16a18_pmu.dtsi"*/
};

/* I2C1=22 23(PG1组UART2冲突)，关闭 */
&i2c1 {
	status = "disabled";
};

/* I2C2=24 25(与32Khz和SYS_LED冲突)，关闭 */
&i2c2 {
	status = "disabled";
};

&spi0 {
	status = "okay";
	//use-dma;
	dmas = <&gdma 10
	&gdma 11>;
	dma-names = "tx", "rx";

	#address-cells = <1>;
	#size-cells = <0>;

	w25q128@0 {
		compatible = "w25q128";
		reg = <0>;	/* chip select */
		spi-max-frequency = <33000000>;

		bank-width = <2>;
		device-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "spl-loader";
			reg = <0x0 0x20000>; /* 128k */
			read-only;
		};

		partition@20000 {
			label = "u-boot";
			reg = <0x20000 0x60000>; /* 384k */
		};

		partition@80000 {
			label = "u-boot-env";
			reg = <0x80000 0x10000>; /* 64k */
		};

		factory:partition@90000 {
			label = "factory";
			reg = <0x90000 0x10000>; /* 64k */
		};

		partition@a0000 {
			label = "firmware";
			reg = <0xa0000 0xf60000>; /* 640k-16M */
		};
	};

	spidev: spi@8200000 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		clock = <50000000>;
		spi-cpha;
		spi-cpol;
		spi-max-frequency=<12000000>;
	};
};

/* 核心板调试接口 */
&uart0 {
	status = "okay";
};

/* IO 26 27 28 29 30，与IIS0定义为PG2组冲突，关闭 */
&uart1 {
	status = "disabled";
};

/* IO 22 23 24 25，只启用22 23两个IO(PG1组)，24 25(与32Khz、SYS_LED冲突，不启用) */
&uart2 {
	pinctrl-0 = <&uart2_tx &uart2_rx>;
	status = "okay";
};

/* IO 31 32 34 35 只启用31 32 RS485接口，34 35(与PG3组的GPIO冲突，不启用) */
&uart3 {
	pinctrl-0 = <&uart3_tx &uart3_rx>;
	status = "okay";
};

/* 参考iis0的说明，不知道为啥i2s和pcm0都一起启动了(PG2组) */
&pcm0 {
	status = "okay";
};

/* 与WIFI_LED冲突disable */
&pwm0 {
	status = "disabled";
};

/* IO 37 启用在PG3组的PWM1 */
&pwm1 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

/* IO 35(与PG3组冲突) 62 ，关闭 */
&spdif
{
	status = "disabled";
};

&wifi_rf {
	status = "okay";
	gpio-expa = <&gpio 51 0>;
	/*for new evb board,gpio use different map with that in p10h board*/
	expa_map_type = <2>;
};

&wifi_lb {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	gpio-leds = <&gpio 36 0>;
	smp-affinity = <2>;
};

&wifi_hb {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	gpio-leds = <&gpio 36 0>;
	smp-affinity = <3>;
};

/* 按键演示 */
&gpio_keys {
        status = "okay";

        hoowa@33 {
                label = "hoowa";
                /*linux,input-type = <0x5>;*/
                linux,code = <0x102>;
                gpios = <&gpio 33 1>;
                poll-interval = <10>;
                debounce-interval = <20>;
        };
};

/* LED灯演示 */
&leds {
        status = "okay";
        sys_led {
                label = "sys_led";
                gpios = <&gpio 25 1>;
        };
};
