/dts-v1/;

#include "sf16a18_full_mask.dtsi"
#include "sf16a18-thermal.dtsi"


/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "siflower,sf16a18-soc";

	/* ETH的LED灯尚未完成 */
	eth0-led {
		compatible = "eth-led";
		pinctrl-names = "default",  "gpio";
		pinctrl-0 = <&eth0_led>;
		pinctrl-1 = <&eth0_led_gpio>;
		eth0 {
			label = "eth_led0";
			gpios = <&gpio 55 1>;
			default-state = "on";
		};
	};

	eth1-led {
		compatible = "eth-led";
		pinctrl-names = "default",  "gpio";
		pinctrl-0 = <&eth1_led>;
		pinctrl-1 = <&eth1_led_gpio>;
		eth1 {
			label = "eth_led1";
			gpios = <&gpio 56 1>;
			default-state = "on";
		};
	};

	/* 我们没有SPDIF和ES7149声卡部分，尚未完成 */
	spdif_codec: spdif-codec@0 {
		compatible = "linux,spdif-dit";
	};

	codec_es7149: codec-es7149@0 {
		compatible = "es7149";
		speaker-gpio = <&gpio 45 0>;
		boot-gpio = <&gpio 53 0>;
		reset-gpio = <&gpio 54 0>;
	};

	/* ETH_LED部分尚未完成 */
	sf_mm_led: sf-mm-led {
		compatible = "sf-mm-led";
		blue-led-gpio = <&gpio 55 0>;
		green-led-gpio = <&gpio 56 0>;
		red-led-gpio = <&gpio 59 0>;
		default-mode = <0x39>;
		default-interval = <500>;
	};

	/* 不知道干嘛的，尚未完成 */
	w18_wifi_rf: w18_wifi-rf@7A00000{
		compatible = "siflower,pistachio-uccp";
		phy = <&phy1>;
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: w18_wifi-phy@1 {
			reg = <1>;
			max-speed = <100>;
		};
	};

	/* 我们没有SPDIF和ES7149声卡部分，尚未完成 */
	spdif-audio@0 {
		compatible = "siflower,siflower-audio";
		model = "Siflower Spdif Audio";
		audio-controller = <&spdif>;
		audio-codec = <&spdif_codec>;
		audio-out;
	};

};

/* 启用USB PHY */
&usb_phy{
	status = "okay";
};

/* 芯片内置以太网划分 */
&ethernet {
	shutdown-portlist = "wll**";
        led-on-off-time = /bits/ 16 <0xff 0x2ff>;
	status = "okay";
	smp-affinity = <2>;
};

&switch{
	sfax8,port-map = "wll**";
	status = "okay";
	smp-affinity = <2>;
};

&gmac {
	status = "okay";
	smp-affinity = <0>;
};

/* 不知道干嘛的，尚未完成 */
&gdu {
	status = "okay";
	num-windows = <2>;
	rgb_order = <0 1 2>;
	power_gpio = <26 37>;
	bpp-mode = "RGB888";

	display-timings {
		native-mode = <&timing0>;
		timing0: gm05004001q {
			clock-frequency = <34539600>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <46>;
			hfront-porch = <210>;
			vback-porch = <23>;
			vfront-porch = <22>;
			hsync-len = <20>;
			vsync-len = <10>;
		};
	};
};

&sham {
	status = "okay";
};

&cipher {
	status = "okay";
};

&rng {
	status = "okay";
};

&gdma {
	status = "okay";
};

/* USB接口 */
&usb {
	status = "okay";
};

/* EMMC存储器，DF1A没有 */
&emmc {
	status = "disabled";
};

/* SD1接口，用作TF卡 */
&sdio {
	status = "okay";
};

/* IIS1=31 32 33 34 35，DF1A的RS485(31 32)/PG3(33 34 35)冲突 */
&i2s_master {
	status = "disabled";
};

/* IIS0=26 27 28 29 30，保留IIS0，可选定义为PCM0或全功能UART1 */
&i2s_slave {
	status = "okay";
};

/* This is used to set voltage during dvfs.
 * You should first know which pmu is in use, and
 * remove the default core-voltage set in pmu dts.
 */
/*
&cpu0 {
       cpu0-supply = <&rn5t567_core>;
       dcdc0-maxv = <1000000>;
};
*/


/* I2C0=20 21 启用PG1 */
&i2c0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
/*	/include/	"sf16a18_pmu.dtsi"*/
};

/* I2C1=22 23 与UART2_RX TX冲突(PG1组)，关闭 */
&i2c1 {
	status = "disabled";
};

/* I2C2=24 25 与时钟、SYS_LED冲突，关闭 */
&i2c2 {
	status = "disabled";
};

&spi0 {
	status = "okay";
	//use-dma;
	dmas = <&gdma 10
	&gdma 11>;
	dma-names = "tx", "rx";

	#address-cells = <1>;
	#size-cells = <0>;

	w25q128@0 {
		compatible = "w25q128";
		reg = <0>;	/* chip select */
		spi-max-frequency = <33000000>;

		bank-width = <2>;
		device-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "spl-loader";
			reg = <0x0 0x20000>; /* 128k */
			read-only;
		};

		partition@20000 {
			label = "u-boot";
			reg = <0x20000 0x60000>; /* 384k */
		};

		partition@80000 {
			label = "u-boot-env";
			reg = <0x80000 0x10000>; /* 64k */
		};

		factory:partition@90000 {
			label = "factory";
			reg = <0x90000 0x10000>; /* 64k */
		};

		partition@a0000 {
			label = "firmware";
			reg = <0xa0000 0xf60000>; /* 640k-16M */
		};
	};

	spidev: spi@8200000 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		clock = <50000000>;
		spi-cpha;
		spi-cpol;
		spi-max-frequency=<12000000>;
	};
};

/* 核心板调试接口 */
&uart0 {
	status = "okay";
};

/* PG2组，可选IIS0、PCM0、UART1默认启动了IIS0这里关闭 */
&uart1 {
	status = "disabled";
};

/* 这里启用22 23两个IO(PG1组)，24 25(与时钟、SYS_LED冲突，不启用) */
&uart2 {
	pinctrl-0 = <&uart2_tx &uart2_rx>;
	status = "okay";
};

/* 31 32用作RS485接口，33 34 35用作PG3的GPIO这里不启用 */
&uart3 {
	pinctrl-0 = <&uart3_tx &uart3_rx>;
	status = "okay";
};

/* 参考i2s0的说明，不知道为啥i2s和pcm0都一起启动了(PG2组) */
&pcm0 {
	status = "okay";
};

/* 尚未知晓 */
&pwm0 {
	status = "okay";
};

/* IO37接口PG3组 */
&pwm1 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

/* IO 35 62 (与PG3组冲突)，关闭 */
&spdif
{
	status = "disabled";
};

&wifi_rf {
	status = "okay";
	gpio-expa = <&gpio 51 0>;
	/*for new evb board,gpio use different map with that in p10h board*/
	expa_map_type = <2>;
};

&wifi_lb {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	gpio-leds = <&gpio 61 0>;
	smp-affinity = <2>;
};

&wifi_hb {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	gpio-leds = <&gpio 36 0>;
	smp-affinity = <3>;
};

&gpio_keys {
        status = "okay";

        hoowa@33 {
                label = "hoowa";
                /*linux,input-type = <0x5>;*/
                linux,code = <0x102>;
                gpios = <&gpio 33 1>;
                poll-interval = <10>;
                debounce-interval = <20>;
        };
};

&leds {
        status = "okay";
        sys_led {
                label = "sys_led";
                gpios = <&gpio 25 1>;
        };
};
